# driver config
apn=your.apn.here

#ip-fetch-timeout=1
#nodefaultroute=True
#metric=1000

# uncomment to not add DNS values to /etc/resolv.conf
#noresolv=True

# used to activate NetworkManager integration
#dbus=True

# Setup script config
BIN_DIR=/usr/local/bin
