[Unit]
Description=XMM7360 Modem Init
ConditionPathExists=/dev/ttyXMM1
After=NetworkManager.service
Requires=multi-user.target systemd-user-sessions.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'until [ -e "/dev/xmm0" ]; do /usr/bin/sleep 1; done'
ExecStart=/usr/rpc/open_xdatachannel.py -c /etc/xmm7360
RemainAfterExit=yes
TimeoutSec=300

[Install]
WantedBy=graphical.target
