[Unit]
Description=XMM7360 Modem Init
ConditionPathExists=/dev/ttyXMM1
After=NetworkManager.service
Requires=multi-user.target systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/rpc/open_xdatachannel.py -c /etc/xmm7360
RemainAfterExit=yes
TimeoutSec=60


[Install]
WantedBy=graphical.target
